@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background for the body */
body {
  background-color: #ffffff;
  color: #000000;
}

.section {
  /* Remove background here or set a default background for sections */
  background: none;
  padding: 50px 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.section.empty {
  background: none; /* No background when empty */
}

@media (max-width: 768px) {
  .section {
    padding: 30px 0;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: linear-gradient(to right, #434343, #000000);
}

.green-gradient {
  background: linear-gradient(-90deg, #fcdce5 0%, rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: linear-gradient(90.13deg, #fff 1.5%, #bf61ff 97.5%);
}

.orange-text-gradient, 
.green-text-gradient, 
.blue-text-gradient, 
.pink-text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.orange-text-gradient {
  background: linear-gradient(to top, #f12711, #f5af19);
}

.green-text-gradient {
  background: linear-gradient(to top, #11998e, #38ef7d);
}

.blue-text-gradient {
  background: linear-gradient(to top, #2f80ed, #56ccf2);
}

.pink-text-gradient {
  background: linear-gradient(to top, #ec008c, #fc6767);
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
}
